{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

 
   
 {% block body %}





<div class="p-4 p-md-5 mb-4 text-white rounded bg-success my-3 mx-2">
 
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">About Education system in Germany</h1>
      <p class="lead my-3">About the country
Student Guide to Germany
Education System
The German education system is different in many ways from the ones in other countries and the classes are conducted in German. Public universities are financed by the government and do not charge tuition fees or just charge a small amount of money as Administration Fee at the start of academic every year. Private universities in-contrast are financed by the fees paid by students and these can be quite expensive. Germany has a larger number of public universities than private ones. German law says that education should be offered to everyone and everyone should be able to afford adequate education. Therefore, in some areas, the tuition fee was abolished, while in other areas it's very small.

Education in Germany is in some aspects more theoretical than in other countries, with professors spending more hours in lectures. At the end of every term the students get grades for their final examination and for speeches, assignments and practical projects. Depending on the subject the composition of these parts can differ. Practical education can also be offered during internships which are an obligation in some subjects.
     </p>
    </div>
  </div>



 {% endblock body %}