{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

 
   
 {% block body %}





<div class="p-4 p-md-5 mb-4 text-white rounded bg-success my-3 mx-2">
 
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">About INDIAN POLICE SERVICE</h1>
      <p class="lead my-3">In 1861, the British Raj introduced the Indian Councils Act, 1861.[7] The act created the foundation of a modern and professionalised police bureaucracy in India. It introduced, a new cadre of police, called Superior Police Services, later known as the Indian Imperial Police.[7] The highest rank in the service was the inspector general[7] for each province. The rank of inspector general was equated and ranked with brigadier,[8] and similar ranks in the Indian Armed Forces, as per central warrant of precedence in 1937.[a][8]

In 1902–03, a police commission was established for the Police reforms under Sir Andrew Fraser and Lord Curzon.[9] It recommended the appointment of Indians at officer level in the police. Indians could rise only to the ranks of Inspector of police, the senior N.C.O. position. However they were not part of Indian Imperial Police.[9]

From 1920, Indian Imperial Police was open to Indians and the entrance examination for the service was conducted both in India and England.[9]


A 1999 stamp dedicated to the 50th anniversary of IPS
Prior to Independence, senior police officers belonging to the Imperial Police (IP) were appointed by the secretary of state on the basis of a competitive examination. The first open civil service examination for admission to the service was held in England in June 1893 and the ten top candidates were appointed as probationers in the Indian (Imperial) Police. It is not possible to pinpoint an exact date on which the Indian Police came formally into being. Around 1907, the secretary of state's officers were directed to wear the letters "IP" on their epaulettes in order to distinguish them from the other officers not recruited by the secretary of state through examination. In this sense, 1907 could be regarded as the starting point.[1] In 1948, a year after India gained independence; the Imperial Police was replaced by IPS.

Modern India
The modern Indian Police Service was created under the Article 312(2) in part XIV of the Constitution of India.[10]

As per media reports, there is a massive shortage of IPS officers in India, amounting to nearly 19% to 22% of sanctioned strength.[11][12]

Medals and decorations</p>
     
    </div>
  </div>



 {% endblock body %}